
.additional-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}



.owner-card {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
}

.owner-card-image {
    width: 100%;
    height: auto;
    grid-row: 1 / 2; /* Изображение занимает первую строку */
    grid-column: 1 / 2; /* Изображение занимает весь столбец */
}


.owner-card-info {
    grid-row: 2 / 3; /* Информация занимает вторую строку */
    grid-column: 1 / 2; /* Информация занимает весь столбец */
    padding: 20px;
    box-sizing: border-box;
}

.owner-card-info .additional-info {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.owner-card-info:hover .additional-info {
    opacity: 1;
}