	@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
	.hero {
		position:relative;
		background-image: url('../img/background.webp'); /* исправление пути */
		background-size: cover;
		background-position: center;
		padding: 100px 0;
		color: white;
		text-align: center;
	}
	.hero::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: inherit;
            filter: blur(10px); /* степень размытия */
            z-index: 1;
        }
	.hero-content {
            position: relative;
            z-index: 2;
			margin-top: -70px;
        }
	.hero h1 {
		font-family: 'Rubik', sans-serif;
		position:relative;
		font-size: 80px;
		background: linear-gradient(180deg, rgb(90, 134, 134), rgb(17, 196, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
		
	}
	.uk-navbar-container {
		top: 0;
		position: sticky;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		z-index: 9999; 	
		width: 100%;
	}
	.content-wrapper {
		display: flex;
		align-items: flex-start; /* Выровнять элементы по верхнему краю */
		justify-content: space-between; /* Разместить элементы по краям */
	}
	
	.text-content {
		flex: 1; /* Текст занимает все доступное пространство */
		margin-right: 20px; /* Отступ между текстом и изображением */
	}
	
	.image-content img {
		max-width: 100%; /* Чтобы изображение не выходило за границы */
		height: auto; /* Сохранение пропорций изображения */
		display: block; /* Убирает возможные отступы снизу */
	}
	#contacts {
		background: rgb(223, 223, 223);
	}
	.as-social [class*=as-icon-]{color:#fff;background-color:#1e87f0;border-radius:50%;transition-property:border-radius,background-color;}
    .as-icon-facebook:hover{background-color:#3B5999}
    .as-icon-youtube:hover{background-color:#FF0000}
    .as-icon-instagram:hover{background-color:#DB307F}
    .as-icon-twitter:hover{background-color:#3FACE2}
    .as-icon-vk:hover{background-color:#5181B8}
    .as-icon-odnoklassniki:hover{background-color:#F58220}
    .as-icon-whatsapp:hover{background-color:#3EE25B}
    .as-icon-viber:hover{background-color:#7B519D}
    .as-icon-telegram:hover{background-color:#24A1DE}
    .as-icon-telegram:hover{background-color:#0078CA}
    [class*=as-icon-]:hover{color:#fff;border-radius:6px}
		
	.hero-p-teg {
		font-size: 24px;
		font-family: 'Rubik', sans-serif;
	}
	@media (max-width: 700px) {
		.hero h1 {
			font-size: 60px;
		}
		.hero-p-teg {
			font-size: 20px;
			font-family: 'Rubik', sans-serif;
		}
	}
	@media (max-width: 500px) {
		.hero h1 {
			font-size: 40px;
		}
		p {
			font-size: 16px;
			font-family: 'Rubik', sans-serif;
		}
		.uk-button {
			max-width: 140px;
			height: auto;
			font-size: 12px;
			padding-inline: 10px;
		}
		.uk-navbar-container img{
			max-width: 60px;
		}

		.nav-item{
			font-size: 10px;
		}
		
		.nav-link.uk-button-text{
			font-size: 10px;
		}


		img{
			width: 50;
			height: 50;
		}


	}