	@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
	.hero {
		position:relative;
		background-image: url('../img/background.jpg'); /* исправление пути */
		background-size: cover;
		background-position: center;
		padding: 100px 0;
		color: white;
		text-align: center;
	}
	.hero::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: inherit;
            filter: blur(10px); /* степень размытия */
            z-index: 1;
        }
	.hero-content {
            position: relative;
            z-index: 2;
			margin-top: -70px;
        }
	.hero h1 {
		font-family: 'Rubik', sans-serif;
		position:relative;
		font-size: 80px;
		background: linear-gradient(180deg, rgb(90, 134, 134), rgb(17, 196, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
		
	}
	.hero p {
		position:relative;
		font-size: 24px;
	}
	.uk-navbar-container {
		top: 0;
		position: sticky;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		z-index: 9999; 	
		width: 100%;
	}
	.content-wrapper {
		display: flex;
		align-items: flex-start; /* Выровнять элементы по верхнему краю */
		justify-content: space-between; /* Разместить элементы по краям */
	}
	
	.text-content {
		flex: 1; /* Текст занимает все доступное пространство */
		margin-right: 20px; /* Отступ между текстом и изображением */
	}
	
	.image-content img {
		max-width: 100%; /* Чтобы изображение не выходило за границы */
		height: auto; /* Сохранение пропорций изображения */
		display: block; /* Убирает возможные отступы снизу */
	}