@import url('products.css');

.main-section {
    outline: 1px solid rgb(165, 165, 165);
}

h1 {
    padding-top: 13px;
    font-size: 26px !important;
    height: 46px;
    text-align: center;
    background-color: black;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h2.uk-modal-title {
    font-size: 26px;
}

.image-wrapper {
    height: 150px !important;
}

.image-wrapper a.upload-images-preview {
    height: calc(100% - 28px) !important;
    width: 100%;
    overflow: hidden;
}

.image-wrapper a.upload-images-preview img {
    max-width: none !important;
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}

a.upload-images-preview + .remove-image.uk-button.uk-button-small.uk-button-danger {
    width: 100%;
    border: 0px;
}

.uk-accordion-title {
    font-size: 16px;
}

.forms-change-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    gap: 10px
}

.forms-change-data > div {
    background-color: #cbcbcb;
    padding: 10px;
    border-radius: 8px;
}

.add-button {
    line-height: normal;
    height: 30px !important;
    padding-inline: 8px;
    transition: all 0.2s ease;
}

.clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px !important;
    width: 30px !important;
    padding: 0;
    transition: all 0.2s ease;
}

.clear-button:hover {
    border: 1px solid red;
    color: red;
}

.uk-accordion-title::selection {
    background-color: #cbcbcb;
    color: #666;
}

.group-button {
    display: flex;
    column-gap: 10px;
    width: max-content;
    margin-left: auto;
}

input {
    
    height: 30px !important;
}

textarea {
    font-size: 13px !important;
}

select {
    font-size: 12px !important;
    height: 30px !important;
}

select option {
    font-size: 12px !important;
}

label {
    font-size: 13px;
}

.uk-accordion {
    width: calc(100% - 42px);
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.4s ease;
}



.uk-accordion.active {
    border: 1px solid rgb(130, 130, 130);
    box-shadow: 6px 8px 10px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.007);
    z-index: 11;
}

.category-name * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 680px) {
    .uk-accordion {
        position: absolute;
        width: calc(50% - 40px);
    }
    
    .uk-accordion:nth-child(4n - 2) {
        position: absolute;
        right: 10px;
    }

    .forms-change-data > div:nth-child(3n) {
        margin-top: 60px;
    }
}

select option {
    font-size: 13px;
}

.forms-change-data > div:nth-child(3n) {
    grid-column: span 2;
}

.forms-change-data > div:nth-child(4n) {
    grid-column: span 2;
}

hr {
    margin-top: 0;
}

form#create_category {
    max-width: 460px;
    margin-inline: auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 6px 8px 10px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

form#create_product {
    max-width: 570px;
    margin-inline: auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 6px 8px 10px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

@media (min-width: 1400px) {
    form#create_product {
        padding: 30px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1250px) {
    form#create_category {
        padding: 30px;
        margin-bottom: 20px;
    }
}

@media (max-width: 1100px) {
    form#create_category {
        box-shadow: none !important;
        margin-bottom: 0 !important;
    }

    form#create_product {
        box-shadow: none !important;
        margin-bottom: 0 !important;
    }
}

@media (max-width: 850px) {
    a.uk-accordion-title {
        font-size: 14px;
    }

    label {
        font-size: 13px;
    }

    h1 {
        padding-top: 13px;
        font-size: 22px !important;
        height: 40px;
    }
}

@media (max-width: 680px) {
    .uk-accordion {
        position: static;
        margin-left: 10px;
    }

    .uk-accordion.active {
        width: calc(100% - 22px);
        transform: translateX(-10px) scaleY(1.007);
    }

    .forms-change-data {
        display: list-item;
    }

    .forms-change-data::marker {
        content: '';
    }

    .forms-change-data > div {
        margin-block: 10px;
    }

    h1 {
        font-size: 20px !important;
        padding-top: 16px;
        margin-bottom: 10px;
    }

    label {
        font-size: 12px !important;
    }

    h2.uk-modal-title {
        font-size: 23px;
    }
}

@media (max-width: 550px) {
    .main-section {
        width: calc(100% - 6px);
        padding: 0px;
    }

    h1 {
        font-size: 18px !important;
        margin-bottom: 0;
        padding-top: 16px;
        height: 36px;
    }

    main {
        margin-top: 70px;
    }

    .is_available_product_text {
        font-size: 11px !important;
    }

    h2.uk-modal-title {
        font-size: 20px;
    }
}

@media (max-width: 430px) {
    .products-grid {
        margin-inline: -9px;
        width: calc(100% + 18px);
    }

    .is_available_product_text {
        font-size: 10px !important;
    }

    h2.uk-modal-title {
        font-size: 17px;
    }
}

@media (max-width: 970px) and (min-width: 680px) {
    .is_available_product_text {
        font-size: 10px !important;
    }
}

.uk-margin:not(:first-child) {
    margin-block: 10px !important;
}

.uk-margin:first-child {
    margin-bottom: 10px;
}

.uk-accordion-content {
    margin-top: 0;
}

#is_available_product.uk-checkbox {
    width: 15px;
    height: 15px !important;
}

.uk-grid-small > .uk-first-column {
    padding-left: 0;
}

.image-wrapper.uk-first-column {
    padding-left: 15px;
}

.list_of_product_categories h3,
.list_of_product_categories p {
    font-family: 'Montserrat', "Arial", sans-serif;
    font-size: 16px;
    margin: 5px 0;
}

.product-card .change_button {
    position: absolute;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 0;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    z-index: 1000;
    background-color: #1e87f0;
    color: rgb(255, 255, 255);
    opacity: 0;

    transition: all 0.2s ease;
}


.product-card:hover .change_button {
    opacity: 1;
    visibility: visible;
}

.change_button:hover {
    background-color: #1a77d5;
    color: rgb(191, 190, 190);
}

@media (max-width: 600px) {
    .product-card .change_button {
        border-radius: 0;
        right: 0;
        top: 0;
        opacity: 1;
        visibility: visible;
    }
}


.list_of_product_categories #init_search p {
    margin-bottom: 10px;
    color: rgb(255, 132, 0);
}

.list_of_product_categories #init_search .init-search-button {
    font-family: 'Montserrat', "Arial", sans-serif;
    display: flex;
    align-items: center;
    background-color: #1e87f0;
    color: white;
    border: 0;
    border-radius: 2px;
    height: 30px;
    padding: 8px 20px;

    transition: background-color 0.3s ease,
                color 0.3s ease;
}

.list_of_product_categories #init_search .init-search-button:hover {
    background-color: #1a77d5;
    color: rgb(191, 190, 190);
}

.list_of_product_categories #init_search {
    outline: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}

input[type="text"] {
    font-size: 13px;
}

#change_is_available_product {
    height: 17px !important;
}

@media (max-width: 550px) {
    .list_of_product_categories #init_search p {
        font-size: 13px;
    }
}

@media (max-width: 450px) {
    .list_of_product_categories #init_search p {
        font-size: 12px;
    }
}