*{
        box-sizing: border-box;
}
    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

a{
    font-weight: 600;
}    
a:hover{
    text-decoration: none;
    color: white;
}

h3{
    font-weight: 600;
}

.style{
    font-family: 'Rubik','Montserrat', sans-serif;
    font-size: 38px; 
    font-weight: 500; 
    color: #333;
    text-align: center; 
    line-height: 1.4; 
    text-transform: uppercase; 
    letter-spacing: 3px;
    margin:20px;
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 20px;
}
@media (max-width:550px) {
    .style{
      font-size: 22px;   
    }
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  gap: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.project-card {
  cursor:default;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  width: auto; 
  
  background-color: #e5e5e53f;

  transition: all 0.3s  ease;
}


@media (max-width:358px){
  .project-card{
    max-width: 85%;
    margin-left: 25px;
  }
}

.project-card ul{
    width: 100%;
    padding: 0;
}
.project-card p{
    margin: 0;
    margin-left: 10px;
}

.project-card span{
    font-weight: bold;
}

.project-card li{

 list-style: none;
 display: flex;
 justify-content: left;

}


.project-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.56);
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
}
.btn-details {
  background: #5493ebc3;
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.foto{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}


.forma{
    margin: 0;
}


.btn-details:hover{
  background-color: rgba(0, 68, 255, 0.767);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.56);
}



/* Слайдер для карточек */


.product_slider{
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius:8px;
}

.slide{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.slide.active{
  opacity: 1;
  position: relative;
}

.slider-prev, .slider-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  font-size: 18px;
}

.slider-prev{
  left: 10px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.slider-next{
  right: 10px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.product_slider:hover{
  .slider-prev, .slider-next{
      opacity: 1;
  }
}

#contacts{
    margin-top: 15px;
}


/* POPUP FORM */

.popup-form-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.request-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color:#5d6580d2;
    padding: 30px;
    border-radius:10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 500px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}


.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
}

.close-popup:hover{
    color:#ff0000;
}

.popup_form_content{
    color:rgb(234, 230, 230);
}

.popup_form_content h2{
    margin-top: 0;
    margin-bottom: 20px;
    color: aliceblue;
    text-align: center;
    font-weight: 600;
}

.form-group{
    margin-bottom: 20px;
}

.form-group label{
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}


.required{
    color:#ff0000;
}

.form-group input,
.form-group select,
.form-group textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius:5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{
    border-color:#4CAF50;
    outline: none;
}

textarea{
    min-height: 100px;
    resize: none;
}

.submit-btn{
    width: 100%;
    padding: 12px;
    background-color:#4CAF50;
    color:white;
    border:none;
    border-radius:5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover{
    background-color:#45a049;
}



.popup-form-overlay.active,
.request-popup.active{
    opacity: 1;
    visibility: visible;
}

.request-popup.active{
    transform: translate(-50%,-50%) scale(1);
}


#user-name,
#number-phone,
#email,
#own_order{
    font-size: 18px;
    font-weight: 300;
    
    background-color:rgb(241, 240, 240);
}


.hidden{
    display: none !important;
}